<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="96f0f5">  <td>23/05/12 09:25:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGClass.allPRint()[pri:1, instance:org.java.TestNGClass@51081592]">allPRint</td> 
  <td>main@1860944798</td>   <td></td> </tr>
<tr bgcolor="96f0f5">  <td>23/05/12 09:25:30</td>   <td>-19</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGClass.print()[pri:0, instance:org.java.TestNGClass@51081592]">print</td> 
  <td>main@1860944798</td>   <td></td> </tr>
<tr bgcolor="96f0f5">  <td>23/05/12 09:25:30</td>   <td>7</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGClass.printAll()[pri:2, instance:org.java.TestNGClass@51081592]">printAll</td> 
  <td>main@1860944798</td>   <td></td> </tr>
</table>
