<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="75a3bc">  <td>23/05/12 09:46:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test2.Practice()[pri:0, instance:org.java.Test2@9629756]">Practice</td> 
  <td>main@258754732</td>   <td></td> </tr>
<tr bgcolor="96f0f5">  <td>23/05/12 09:46:57</td>   <td>15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGClass.allPRint()[pri:1, instance:org.java.TestNGClass@7f9a81e8]">allPRint</td> 
  <td>main@258754732</td>   <td></td> </tr>
<tr bgcolor="96f0f5">  <td>23/05/12 09:46:57</td>   <td>23</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGClass.printAll()[pri:2, instance:org.java.TestNGClass@7f9a81e8]">printAll</td> 
  <td>main@258754732</td>   <td></td> </tr>
</table>
